body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;

}

.Center {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

.Center:hover {
  color: rgb(1, 207, 207);
  transform: scale(1.5);
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

/* Carrusel animado con productos */
.banda-productos {
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.banda-contenedor {
  display: flex;
  animation: moverBanda 30s linear infinite;
  gap: 30px;
}

.producto {
  flex: 0 0 auto;
  text-align: center;
  min-width: 150px;
  transition: transform 0.3s ease; /* transición para el contenedor */
}

.producto:hover {
  transform: scale(1.1); /* agranda todo el bloque */
}

.producto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.producto p {
  margin-top: 8px;
  font-size: 18px;
  color: #333;
  transition: font-size 0.3s ease;
}

.producto:hover p {
  font-size: 20px; /* agranda el texto */
  font-weight: bold;
}

@keyframes moverBanda {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
